.inModal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 25px auto;
  padding: 15px;
  .header {
    border: 1px solid black;
    margin: 5px;
    .title {
      text-align: center;
      font-size: 50px;
    }
  }
  .Body {
    text-align: center;
    height: 80%;
    margin: 5px;
    border: 1px solid black;
  }
  .Footer {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    .btn {
      border-radius: 0 !important;
      width: 10%;
      font-size: 25px;
      &:hover {
        background-color: #ce3089;
        color: white;
      }
    }
    .closeModal {
      transition: all 0.2s ease-in-out;
      color: #f8f9fa;
      background-color: red;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    }
    .print {
      transition: all 0.2s ease-in-out;
      color: #f8f9fa;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      background-color: #295bc5;
    }
  }
}
