.register-right {
  background: #f8f9fa;
  height: 100vh;
  width: 80%;
  .search {
    margin: 15px auto;
    background-color: white;
    input {
      height: 50px;
      width: 90%;
      border: none;
      margin-left: 5px;
      font-size: 20px;
      &:focus {
        outline-style: none !important;
      }
    }
  }
  .register-form {
    margin: 15% auto;
    width: 90%;
    text-align: center;

    input {
      padding: 5px;
      height: 50px;
      width: 100%;
      border: none;
      margin-left: 5px;
      font-size: 20px;
      &:focus {
        outline-style: none !important;
      }
    }
    select {
      height: 50px;
      width: 100%;
      border: none;
      margin-left: 5px;
      font-size: 20px;
      &:focus {
        outline-style: none !important;
      }
    }
    .btnRegister {
      border-radius: 0 !important;
      margin: 5% auto;
      width: 30%;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      padding: 2%;
      padding: 0 20px;
      height: 80px;
      background: #3046ba;
      font-size: 25px;
      color: #f8f9fa;
      transition: all 0.2s ease-in-out;
      text-align: left;
      line-height: 80px;
      img {
        width: 50px;
        margin-right: 10px;
        span {
          display: inline-block;
        }
      }
      &:hover {
        background-color: #ce3089;
      }
    }
  }
  .register-Table {
    margin: 5% auto;
    width: 95%;
    text-align: center;
  }
  .table-body {
    border: 1em solid black;
    height: 50vh;
    overflow: auto;
    display: block;
  }
  .btnRegister {
    border: none;
    margin-right: 0px;

    width: 50%;
    height: 80px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 5%;
    background: #0062cc;
    color: #fff;
    cursor: pointer;
  }
  .register-heading {
    text-align: center;
    font-size: 3em;
    color: #495057;
  }
  .table-fixed {
    width: 90%;
    margin: auto;
    thead {
      background: #295bc5;
      color: white;
      display: inline-flex;
      justify-content: space-around;
      width: 100%;
      height: 60px;
      tr {
        display: inline-flex;
        width: 100%;
        th {
          width: 100%;
          border: none;
          text-align: center;
        }
      }
    }
    tbody {
      height: 75vh;
      display: block;
      overflow-y: auto;
      width: 100%;
      tr {
        display: inline-flex;
        width: 100%;
        height: 80px;
        border: none;
        td {
          display: inline-flex;
          justify-content: space-around;
          width: 100%;
          p {
            line-height: 45px;
            font-size: 18px;
          }
          .contImg {
            width: 45px;
            height: 45px;
            overflow: hidden;
            position: relative;
            img {
              width: 45px;
              height: 90px;
            }
            img:hover {
              margin-top: -45px;
            }
          }
        }
      }
      tr:hover {
        cursor: pointer;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ededed;
}
